.banner-container {
    margin: auto;
    position: relative;
    display: flex;
    width: 95%;
    height: auto;
}

.banner-container>img {
    margin-top: 80px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media(max-width: 400px) {
    .banner-container>img {
        margin-top: 74px;
    }
}